.login {
  background-color: #bcc2ffe4;
  width: 100%;
  height: 100%;
  padding: 70px 0;

  &__container {
    box-shadow: 3px 3px 5px grey;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1250px;
    height: 700px;
    margin: 60px auto;

    column-gap: 50px;

    &__right {
      width: 50%;
      height: 100%;
      object-fit: cover;
    }

    &__formSub {
      width: 50%;
      padding: 40px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 40px;

      &__logo {
        font-family: "Jura", sans-serif;
        color: rgb(92, 92, 232);

        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        &__img {
          width: 28px;
          height: 28px;
        }
        &__text {
          font-family: "Jura", sans-serif;
          font-size: 18px;
          font-weight: 700;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
      }

      &__title {
        font-size: 38px;
        font-family: "Ledger", serif;
        font-weight: 500;
      }

      input {
        font-family: "Ledger", serif;
        width: 280px;
        height: 45px;
        padding-left: 20px;
        font-size: 16px;
      }
      button {
        background-color: rgb(92, 92, 232);
        border: none;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px 40px;
        color: white;
        font-family: "Jura", sans-serif;
      }
      &__password {
        position: relative;
        div {
          position: absolute;
          top: 12px;
          right: 20px;
          width: 25px;
          cursor: pointer;
        }
      }
      &__link {
        font-size: 16px;
        font-family: "Ledger", serif;
      }
    }
  }
  @media (max-width: 500px) {
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: #703fef;

    &__container {
      background-color: #703fef;
      box-shadow: none;
      display: block;
      width: 100vw;
      height: 100vh;
      margin: 0;

      column-gap: 0;

      &__right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
      }

      &__formSub {
        background-color: #fff;
        position: absolute;
        top: 5vh;
        left: 5vw;
        width: 90vw;
        height: 90vh;
        z-index: 10;
        padding: 0;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 15px;

        &__logo {
          position: absolute;
          top: 80px;
          margin-top: -50px;
          margin-bottom: 40px;
          column-gap: 6px;
          &__img {
            width: 16px;
            height: 16px;
          }
          &__text {
            font-size: 12px;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 30px;
        }

        &__title {
          font-size: 22px;
          font-family: "Ledger", serif;
          font-weight: 500;
          margin: -20px auto 30px auto;
        }

        input {
          width: 75vw;
          height: 50px;
          padding-left: 10px;
          font-size: 16px;
          border: 1px solid rgba(128, 128, 128, 0.244);
          box-shadow: 1px 1px 4px rgba(128, 128, 128, 0.368);
        }
        button {
          border-radius: 5px;
          font-size: 15px;
          padding: 15px 50px;
        }
        &__password {
          position: relative;
          div {
            position: absolute;
            top: 15px;
            right: 18px;
            width: 22px;
          }
        }
        &__link {
          margin-top: 30px;
          font-size: 13px;
          width: 200px;
          text-align: center;
        }
      }
    }
  }
}
