.popup {
  border-radius: 10px;
  z-index: 1000;

  background-color: #fff;
  width: 600px;
  height: max-content;

  &__description {
    font-size: 16px;
    color: var(--text-color);
    padding: 10px 15px;
  }

  &__image {
    width: 100%;
    height: max-content;
    height: 100%;

    &__video {
      height: 100%;
      max-height: 500px;
      width: 100%;
      object-fit: cover;
    }
    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 100%;
      max-height: 500px;

      object-fit: cover;
    }
  }

  // img {
  //   border-radius: 10px 10px 0 0;
  //   height: 450px;
  //   width: 100%;
  //   min-height: 340px;
  //   max-height: 600px;
  //   object-fit: cover;
  // }

  &__detalies {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 10px 20px;
    &__icons {
      display: flex;
      align-items: center;

      column-gap: 30px;
      &__like,
      &__send,
      &__delete {
        width: 35px;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      &__active {
        width: 35px;
        cursor: pointer;
        svg path {
          fill: rgb(227, 32, 32);
        }
      }
    }
    &__delete {
      width: 30px;
      opacity: 0.8;
      margin-right: 30px;
      cursor: pointer;
      svg {
        fill: rgb(232, 94, 94);
      }
      &:hover {
        opacity: 1;
      }
    }
  }

  &__likesNum {
    margin: 0 0 10px 20px;
    font-weight: 600;
    font-size: 16px;
  }

  &__comments {
    max-height: 180px;
    overflow-y: scroll;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    &::-webkit-scrollbar {
      width: 0.4rem;
      border-radius: 4px;
      background-color: hsl(221, 68%, 90%);
    } /*влияет на стиль полосы прокрутки элемента*/
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgb(92, 92, 232);
    } /*перетаскиваемый дескриптор прокрутки*/

    &__btn {
      margin: 0 auto 10px;
      opacity: 0.6;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__commentsAdd {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 10px;
    textarea {
      padding: 10px;
      min-height: 50px;
      width: 100%;
      resize: none;
      color: var(--text-color);
      border: 1px solid #c8c8e9;
      &::-webkit-scrollbar {
        width: 0.4rem;
        border-radius: 4px;
        background-color: hsl(221, 68%, 90%);
      } /*влияет на стиль полосы прокрутки элемента*/
      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgb(92, 92, 232);
      } /*перетаскиваемый дескриптор прокрутки*/
      &::placeholder {
        color: var(--text-color);
      }
    }
    button {
      width: 100px;
      height: 30px;
      background-color: #5e5ee8;
      border-radius: 10px;
      color: white;
      border: none;
      cursor: pointer;
    }
  }

  &__createDate {
    display: flex;
    align-items: center;
    p {
      color: grey;
      padding: 0 15px 15px 15px;
      font-size: 10px;
    }
  }

  @media (max-width: 1550px) {
    width: 500px;

    &__image {
      width: 100%;
      height: max-content;
      height: 100%;

      &__video {
        height: 100%;
        max-height: 450px;
        width: 100%;
        object-fit: cover;
      }
      img {
        width: 100%;
        height: 100%;
        max-height: 450px;

        object-fit: cover;
      }
    }

    &__detalies {
      margin: 20px 0 10px 20px;
      column-gap: 30px;
      &__like,
      &__send,
      &__active {
        width: 30px;
      }
    }

    &__likesNum {
      margin: 0 0 10px 20px;
      font-size: 15px;
    }

    &__comments {
      max-height: 120px;
      overflow-y: scroll;
      padding: 15px;
      row-gap: 10px;

      &__btn {
        font-size: 14px;
        margin: 0 auto 10px;
      }
    }

    &__commentsAdd {
      padding: 20px;

      row-gap: 10px;
      textarea {
        padding: 10px;
        min-height: 50px;
        width: 100%;
      }
      button {
        width: 100px;
        height: 30px;
      }
    }
  }
  @media (max-width: 500px) {
    width: 90vw;
    margin: 0;
    height: 95vh;

    &__image {
      width: 100%;
      height: max-content;
      height: 100%;

      &__video {
        height: 100%;
        max-height: 370px;
        width: 100%;
        object-fit: cover;
      }
      img {
        width: 100%;
        height: 100%;
        max-height: 370px;

        object-fit: cover;
      }
    }

    &__description {
      font-size: 12px;
      color: var(--text-color);
      padding: 5px 15px;
    }

    &__detalies {
      margin: 5px 0 5px 10px;
      &__icons {
        column-gap: 25px;
        &__like,
        &__send,
        &__delete {
          width: 20px;
        }

        &__active {
          width: 20px;
        }
      }
      &__delete {
        width: 14px;
        margin-right: 20px;
      }
    }

    &__likesNum {
      margin: 0 0 5px 20px;
      font-size: 12px;
    }

    &__comments {
      max-height: 100px;
      padding: 5px 15px;
      row-gap: 8px;

      &__btn {
        font-size: 12px;
        margin: 0 auto;
      }
    }

    &__commentsAdd {
      padding: 2px 10px;

      row-gap: 10px;

      textarea {
        padding: 10px;
        min-height: 30px;
        width: 100%;
        max-height: 60px;
        font-size: 16px;
        &::placeholder {
          font-size: 13px;
        }
      }
      button {
        font-size: 10px;
        width: 70px;
        height: 20px;
      }
    }
    &__createDate {
      display: flex;
      align-items: center;
      p {
        color: grey;
        padding: 0 8px 5px 8px;
        font-size: 8px;
      }
    }
  }
}

// - поменьше отступ для даты
// - помньше символы
// - помньше отступ сверху
// - картинка прикреплена к верху модуля
// - убрать бордер для имейдж
