.alert {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #fff;
}

.edit {
  border-radius: 5px;
  z-index: 1000;
  background-color: #fff;
  height: max-content;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  width: 45vw;
  height: 70vh;

  &__image {
    display: flex;
    align-items: end;
    width: 440px;
    height: 350px;
    video {
      width: 100%;
      height: 100%;
    }
    img {
      border: 1px solid rgba(128, 128, 128, 0.432);
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
    }
    &__down {
      width: 160px;
      height: 40px;
      background-color: transparent;
      font-size: 12px;
      margin: 20px 10px;
      color: #703fef;
      font-family: "Ledger", serif;
      border: none;
    }
  }
  &__btn {
    width: 400px;
    height: 70px;
    font-size: 22px;
    margin: 20px auto;
    font-family: "Ledger", serif;
    border-radius: 5px;
    background-color: rgb(92, 92, 232);
    color: white;
    border: none;

    font-weight: 500;
  }

  &__input {
    font-family: "Ledger", serif;
    border: 1px solid rgba(128, 128, 128, 0.422);
    width: 80%;
    height: 70px;
    border-radius: 3px;
    padding-left: 20px;
    font-size: 18px;
  }

  @media (max-width: 1500px) {
    padding: 40px;

    row-gap: 40px;
    width: 45vw;
    height: 70vh;

    &__image {
      display: flex;
      align-items: end;
      img {
        width: 400px;
        height: 320px;
      }
      &__down {
        width: 100px;
        height: 40px;

        font-size: 12px;
        margin: 20px 10px;
      }
    }
    &__btn {
      width: 340px;
      height: 60px;
      font-size: 20px;
      margin: 20px auto;
    }

    &__input {
      width: 95%;
      height: 70px;

      padding-left: 20px;
      font-size: 18px;
    }
  }
  @media (max-width: 1200px) {
    padding: 30px;

    row-gap: 40px;
    width: 50vw;
    height: 70vh;

    &__image {
      display: flex;
      flex-direction: column;
      align-items: end;
      img {
        width: 35vw;
        height: 100%;
      }
      &__down {
        width: max-content;
        height: max-content;

        font-size: 12px;
        margin: 10px;
      }
    }
    &__btn {
      width: 35vw;
      height: 60px;
      font-size: 18px;
      margin: 20px auto;
    }

    &__input {
      width: 40vw;
      height: 60px;

      padding-left: 20px;
      font-size: 18px;
    }
  }

  @media (max-width: 1000px) {
    padding: 20px;

    row-gap: 30px;
    width: 65vw;
    height: 70vh;

    &__image {
      display: flex;
      flex-direction: column;
      align-items: end;
      img {
        width: 50vw;
        height: 100%;
      }
      &__down {
        width: max-content;
        height: max-content;

        font-size: 12px;
        margin: 10px;
      }
    }
    &__btn {
      width: 40vw;
      height: 60px;
      font-size: 18px;
      margin: 20px auto;
    }

    &__input {
      width: 50vw;
      height: 60px;

      padding-left: 20px;
      font-size: 18px;
    }
  }
  @media (max-width: 800px) {
    padding: 20px;

    row-gap: 30px;
    width: 75vw;
    height: 80vh;

    &__image {
      display: flex;
      flex-direction: column;
      align-items: end;
      img {
        width: 65vw;
        height: 100%;
      }
      &__down {
        width: max-content;
        height: max-content;

        font-size: 12px;
        margin: 10px;
      }
    }
    &__btn {
      width: 55vw;
      height: 60px;
      font-size: 18px;
      margin: 20px auto;
    }

    &__input {
      width: 60vw;
      height: 60px;

      padding-left: 20px;
      font-size: 18px;
    }
  }

  @media (max-width: 500px) {
    margin-top: 50px;
    z-index: 1000;
    height: max-content;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    width: 90vw;

    &__image {
      display: flex;
      flex-direction: column;
      align-items: end;
      row-gap: 5px;
      img {
        border: 1px solid rgba(128, 128, 128, 0.432);
        width: 72vw;
        height: 250px;
        border-radius: 5px;
      }
      &__down {
        width: 170px;
        height: 30px;

        font-size: 13px;
        margin: 0;
      }
    }
    &__btn {
      width: 300px;
      height: 50px;
      font-size: 16px;
      margin: 20px auto;
      font-family: "Ledger", serif;
      border-radius: 5px;
      background-color: rgb(92, 92, 232);
      color: white;
      border: none;

      font-weight: 500;
    }

    &__input {
      font-family: "Ledger", serif;
      border: 1px solid rgba(128, 128, 128, 0.422);
      width: 80vw;
      height: 50px;
      padding: 10px 15px;
      border-radius: 3px;
      padding-left: 10px;
      font-size: 14px;
    }
  }
}
