.comments {
  display: flex;
  align-items: start;
  column-gap: 20px;
  font-size: 16px;
  color: var(--text-color);
  &__name {
    font-size: 16px;
  }
  &__text {
    width: max-content;
    font-size: 16px;
  }

  &__delete {
    width: 18px;
    height: 18px;
    opacity: 0.8;
    margin-right: 10px;
    cursor: pointer;
    svg {
      fill: rgb(232, 94, 94);
    }
    &:hover {
      opacity: 1;
    }
  }

  @media (max-width: 1550px) {
    column-gap: 20px;
    font-size: 16px;
    &__name {
      font-size: 14px;
    }
    &__text {
      width: max-content;
      font-size: 14px;
    }
  }
  @media (max-width: 500px) {
    column-gap: 15px;
    &__name {
      font-size: 12px;
    }
    &__text {
      width: max-content;
      font-size: 12px;
    }
  }
}
