.wrapper {
  background-color: #f5fbfe;
  padding-bottom: 100px;
}
.content {
  position: relative;
  margin-top: 130px;
}
.loading {
  position: absolute;
  left: 50%;
}

Link,
a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h3 {
  font-family: "Jura", sans-serif;
}

.popupModal {
  border-radius: 10px;
  z-index: 1000;
  width: max-content;
  margin: 120px auto;
  &:focus-visible {
    outline: transparent auto 1px;
  }
  @media (max-width: 1500px) {
    margin: 100px auto;
  }
}
.popupModalLoading {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 23% 0;
  background-color: #fff;
  &:focus-visible {
    outline: transparent auto 1px;
  }
  @media (max-width: 1500px) {
    margin: 100px auto;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
