@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ledger&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  --bg-color: #f5fbfe;
  --bg-color-card: #fff;
  --text-color: rgb(0, 0, 0);
  --svg-color: rgb(92, 92, 232);
  --border-color-1: rgb(92, 92, 232);
  --border-color-2: rgba(0, 0, 0, 0.563);
  --border-color-3: #c8c8e9;
  --moon-color: transparent;
  --sun-color: #fff;
  --bg-theme: #7676b7ce;
  --svg-popup-color-1: black;
  --svg-popup-color-2: rgba(67, 70, 110, 0.582);
}
#root.dark {
  --bg-color: #030303;
  --bg-color-card: #333333;
  --text-color: white;
  --svg-color: white;
  /* --border-color-1: #252850; */
  /* --border-color-1: #32127a; */
  --border-color-1: #20155e;

  /* --border-color-1: #0e294b; */

  --border-color-2: #3f3f3fb5;
  --border-color-3: #ffffff89;
  --moon-color: #fff;
  --sun-color: transparent;
  --bg-theme: #414141;
  --svg-popup-color-1: rgba(84, 95, 130, 0.582);
  --svg-popup-color-2: black;
}

body {
  background-color: var(--bg-color);
}

&::-webkit-scrollbar {
  width: 1rem;
  background-color: hsl(221, 68%, 90%);
} /*влияет на стиль полосы прокрутки элемента*/
&::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(92, 92, 232);
} /*перетаскиваемый дескриптор прокрутки*/

@media (max-width: 1550px) {
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
}
